<header>
  <div class="site-wrapper">
    <div class="influencer-header-wrapper">
      <div class="influencer-header-info">
        <img src="/assets/images/erica-acevedo.png" />
        <div>
          <h2>{{firstname}} {{lastname}}</h2>
          <h3>{{blogName}}</h3>
        </div>
      </div>
      <div>
        <a href="#">Share</a>
      </div>
    </div>
  </div>
</header>
