<div class="influencer-body-intro">
  <h1>Story Collection</h1>
  <h2>All stories by {{firstname}} {{lastname}}</h2>
</div>

<div class="flex">
  <div class="influencer-body-story"><img src="/assets/images/stories/01.png" /></div>
  <div class="influencer-body-story"><img src="/assets/images/stories/02.png" /></div>
  <div class="influencer-body-story"><img src="/assets/images/stories/03.png" /></div>
  <div class="influencer-body-story"><img src="/assets/images/stories/04.png" /></div>
</div>
<div class="flex">
  <div class="influencer-body-story square"><img src="/assets/images/stories/05.png" /></div>
  <div class="influencer-body-story skinny"><img src="/assets/images/stories/06.png" /></div>
  <div class="influencer-body-story skinny"><img src="/assets/images/stories/07.png" /></div>
  <div class="influencer-body-story skinny"><img src="/assets/images/stories/08.png" /></div>
</div>
<div class="flex">
  <div class="influencer-body-story"><img src="/assets/images/stories/09.png" /></div>
  <div class="influencer-body-story"><img src="/assets/images/stories/10.png" /></div>
  <div class="influencer-body-story"><img src="/assets/images/stories/11.png" /></div>
  <div class="influencer-body-story"><img src="/assets/images/stories/12.png" /></div>
</div>
