<header>
  <div class="site-wrapper">
    <div class="influencer-header-wrapper">
      <div class="influencer-header-info">
        <img src="/assets/images/erica-acevedo.png" />
        <div>
          <h2>{{influencer.firstname}} {{influencer.lastname}}</h2>
          <h3>{{influencer.blogName}}</h3>
        </div>
      </div>
      <div>
        <a href="#">Share</a>
      </div>
    </div>
  </div>
</header>


<div class="influencer-body">
  <div class="site-wrapper">
    {{
      influencer-sidebar
      city=influencer.city
      state=influencer.state
      blogUrl=influencer.blogUrl
      socialMediaAccount=influencer.socialMediaAccount
      contentTopicsMuse=influencer.content_topics_muse_
      retailersFrequentedMuse=influencer.retailers_frequented_muse_
      married=influencer.married
      numberOfKids=influencer.numberOfKids
      doYouHaveKids=influencer.do_you_have_kids
      gender=influencer.gender
    }}
  </div>
</div>
